.display{
    background-color: #dcdcdc;
    height: 40px;
    width: 100%;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}
.flex-item{
    flex-basis: 25%;
    height: 50%;
}
.button{
    padding: 10px;
}